*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%, url(2.png));
    background-position: center;
    background-size: cover;
    height: 75vh;
    font-family: sans-serif;
}